# Prerequisites
*.d

#build
build
build/*
src/v16/schemas/*.hpp
src/jsons_headers.hpp
src/jsons_header.hpp
src/valijson*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ocppws
test
